.contianer {
  font-family: "Manrope", serif;
  background-color: #121212;
  width: 1440px;
  height: 828px;
  padding: ;
  top: ;
  right: ;
  bottom: ;
  gap: ;
}

.paragraph {
  display: grid;
  justify-items: center;
}

.cards {
  display: flex;
  justify-content: space-evenly;
}
.contianer h1 {
  color: white;
  text-align: center;
  font-size: 18px;
  padding-top: 20px;
}

.heading {
  color: white;
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  width: 50%;
}

.card {
  position: relative;
  background-color: rgba(255, 255, 255, 0.05);
  width: 250px;
  height: 300px;
  border-radius: 12px;
  padding-left: ;
  top: 25px;
  right: 20px;
  bottom: 25px;
  left: 20px;
  gap: 48px;
}

.card h2 {
  color: white;
  padding-top: 50px;
  padding-bottom: 10px;
  padding-left: 10px;
  left: px;
  row-gap: ;
  font-size: 20px;
}

.card img {
  position: relative;
  background-color: ;
  width: 45px;
  height: 45px;
  top: 4.5px;
  left: 4.5px;
  border: 2.5px;
  padding-top: 20px;
  padding-left: 10px;
  margin-bottom: 0;
}

.card hr {
  width: 50%;

  margin-left: 10px;
  margin-top: 0;
}

.card p {
  padding-top: 10px;
  padding-left: 5px;
  color: white;
  font-size: 14px;
  text-align: start;
  padding-left: 12px;
}

.security {
  position: relative;
  background-color: rgba(255, 255, 255, 0.05);
  width: 250px;
  height: 300px;
  border-radius: 12px;
  padding-left: ;
  top: 25px;
  right: 20px;
  bottom: 25px;
  left: 20px;
  gap: 48px;
}

.security h2 {
  color: white;
  padding-top: 50px;
  padding-bottom: 10px;
  padding-left: 10px;
  left: px;
  row-gap: ;
  font-size: 20px;
}

.security img {
  position: relative;
  background-color: ;
  width: 45px;
  height: 45px;
  top: 4.5px;
  left: 4.5px;
  border: 2.5px;
  padding-top: 20px;
  padding-left: 10px;
  margin-bottom: 0;
}

.security hr {
  width: 50%;

  margin-left: 10px;
  margin-top: 0;
}

.security p {
  padding-top: 10px;
  padding-left: 5px;
  color: white;
  font-size: 14px;
  text-align: start;
  padding-left: 12px;
}

.flexibility {
  position: relative;
  background-color: rgba(255, 255, 255, 0.05);
  width: 250px;
  height: 300px;
  border-radius: 12px;
  padding-left: ;
  top: 25px;
  right: 20px;
  bottom: 25px;
  left: 20px;
  gap: 48px;
}

.flexibility h2 {
  color: white;
  padding-top: 50px;
  padding-bottom: 10px;
  padding-left: 10px;
  left: px;
  row-gap: ;
  font-size: 20px;
}

.flexibility img {
  position: relative;
  background-color: ;
  width: 45px;
  height: 45px;
  top: 4.5px;
  left: 4.5px;
  border: 2.5px;
  padding-top: 20px;
  padding-left: 10px;
  margin-bottom: 0;
}

.flexibility hr {
  width: 50%;

  margin-left: 10px;
  margin-top: 0;
}

.flexibility p {
  padding-top: 10px;
  padding-left: 5px;
  color: white;
  font-size: 14px;
  text-align: start;
  padding-left: 12px;
}

.pricing {
  position: relative;
  background-color: rgba(255, 255, 255, 0.05);
  width: 250px;
  height: 300px;
  border-radius: 12px;
  padding-left: ;
  top: 25px;
  right: 20px;
  bottom: 25px;
  left: 20px;
  gap: 48px;
}

.pricing h2 {
  color: white;
  padding-top: 50px;
  padding-bottom: 10px;
  padding-left: 10px;
  left: px;
  row-gap: ;
  font-size: 20px;
}

.pricing img {
  position: relative;
  background-color: ;
  width: 45px;
  height: 45px;
  top: 4.5px;
  left: 4.5px;
  border: 2.5px;
  padding-top: 20px;
  padding-left: 10px;
  margin-bottom: 0;
}

.pricing hr {
  width: 50%;

  margin-left: 10px;
  margin-top: 0;
}

.pricing p {
  padding-top: 10px;
  padding-left: 5px;
  color: white;
  font-size: 14px;
  text-align: start;
  padding-left: 12px;
}
